.row{
	display: flex;
	align-items: center;
}
.jaround{
	justify-content: space-around;
}
.jbetween{
	justify-content: space-between;
}
.jcenter{
	justify-content: center;
}
.filas{
	flex-wrap: wrap;
}