#inicio {
	
}

#inicio label {
	color: @naranja;
	width: 100%;
}

#inicio select {
	width: 100%;
    padding: 0.5em;
    font-size: 1em;
    margin: 0.5em 0;
    border-radius: 0;
    border: 1px solid #EEEDED;
    color: #707070;
    background-color: #f8f8f8;
    height: 45px;
}

#inicio button {
	margin-left: 60%;
    margin-bottom: 1em;
    width: 40%;
    max-width: 200px;
}

#inicio h3 {
	color: @naranja;
	padding-bottom: 1em;
}

#inicio article p {
	color: @gris;
}

#inicio .picker {
	margin-bottom: 1em;
}