#reservas, #reservas article {
	height: 100%;
	width: 100%;
	position: relative;
}

#reservas canvas {
	height: 100%;
	width: 100%;
}

#reservas nav {
	position: absolute;
	width: 100%;
	background-color: white;
    padding-bottom: 1em;
    max-width: 360px;
}

#reservas ul {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#reservas ul li {
	display: flex;
    flex-direction: column;
}

#reservas nav div {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#reservas label {
	margin-bottom: 0.5em;
	color: @naranja;
}

#reservas div {
	display: flex;
    flex-direction: column;
}

#reservas div input, #reservas div select {
	margin-bottom: 1em;
	padding-top: 0.5em;
}