/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 16px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.row {
  align-items: center;
  display: flex;
}
.col-xs-1 {
  width: calc(8.33333333%);
}
.col-xs-2 {
  width: calc(16.66666667%);
}
.col-xs-3 {
  width: calc(25%);
}
.col-xs-4 {
  width: calc(33.33333333%);
}
.col-xs-5 {
  width: calc(41.66666667%);
}
.col-xs-6 {
  width: calc(50%);
}
.col-xs-7 {
  width: calc(58.33333333%);
}
.col-xs-8 {
  width: calc(66.66666667%);
}
.col-xs-9 {
  width: calc(66.66666667%);
}
.col-xs-10 {
  width: calc(83.33333333%);
}
.col-xs-11 {
  width: calc(91.66666667%);
}
.col-xs-12 {
  width: calc(100%);
}
.dcolumnas-xs {
  flex-direction: column;
}
.dfilas-xs {
  flex-direction: row;
}
.jaround-xs {
  justify-content: space-around;
}
.jbetween-xs {
  justify-content: space-between;
}
.jcenter-xs {
  justify-content: center;
}
.filas-xs {
  flex-wrap: wrap;
}
.fstart-xs {
  align-items: flex-start;
}
.fend-xs {
  align-items: flex-end;
}
header {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  min-height: 4.5em;
  height: 4.5em;
  max-height: 4.5em;
}
header img {
  height: 100%;
}
header nav ul {
  display: none;
  position: absolute;
  width: 50%;
  margin: 0 -25%;
  top: 5em;
  background: #ffffff;
  border: 2px solid #e57e1f;
  z-index: 10000;
}
header nav ul li {
  color: #272727;
  padding: 1em;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  font-size: 1.2em;
  cursor: pointer;
}
header ul li img {
  width: 32px;
  height: 32px;
}
header nav ul li {
  display: none;
}
header nav ul li:hover,
header nav ul i:hover {
  color: #e57e1f;
  border-bottom: 4px solid #e57e1f;
}
header nav ul li:active,
header nav ul i:active {
  color: #e57e1f;
}
@media all and (min-width: 47em) {
  header nav i {
    display: none !important;
  }
  header nav ul {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0 ;
    background: none;
    border: none;
  }
  header nav ul li {
    display: inline-block !important;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: none;
  }
  header nav ul li:hover,
  header nav ul i:hover {
    border-top: 4px solid #e57e1f;
    border-bottom: none;
  }
}
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 100%;
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 36%, #c2c2c2 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffffff), color-stop(36%, #ffffff), color-stop(100%, #c2c2c2));
  background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 36%, #c2c2c2 100%);
  background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 36%, #c2c2c2 100%);
  background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 36%, #c2c2c2 100%);
  background: linear-gradient(160deg, #ffffff 0%, #ffffff 36%, #c2c2c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c2c2c2', GradientType=1);
}
main {
  padding: 1em;
  display: flex;
  height: 100%;
}
footer {
  background: #272727;
  color: #ffffff;
  padding: 1em 0 1em 0;
  margin-top: auto;
  text-align: center;
}
footer div {
  margin: 0 auto;
}
.btn {
  color: white;
  background-color: #e57e1f;
  padding: 0.5em 1em 0.8em 1em;
  border: none;
  -webkit-box-shadow: -2px -2px 0px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: -2px -2px 0px 0px rgba(50, 50, 50, 0.25);
  box-shadow: -2px -2px 0px 0px rgba(50, 50, 50, 0.25);
  font-size: 1em;
}
#inicio {
  background-color: #eeeeee;
  padding: 1em;
}
#inicio label {
  color: #e57e1f;
  width: 100%;
  padding-top: 1em;
}
#inicio select {
  width: 100%;
  padding-top: 1em;
  font-size: 1em;
}
#inicio button {
  margin-left: 50%;
  margin-bottom: 1em;
}
#inicio h3 {
  color: #e57e1f;
  padding-bottom: 1em;
}
#inicio article p {
  color: #797c80;
}
#reservas,
#reservas article {
  height: 100%;
  width: 100%;
  position: relative;
}
#reservas canvas {
  height: 100%;
  width: 100%;
}
#reservas nav {
  position: absolute;
  width: 100%;
  background-color: white;
  padding-bottom: 1em;
  max-width: 360px;
}
#reservas ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#reservas ul li {
  display: flex;
  flex-direction: column;
}
#reservas nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#reservas label {
  margin-bottom: 0.5em;
  color: #e57e1f;
}
#reservas div {
  display: flex;
  flex-direction: column;
}
#reservas div input,
#reservas div select {
  margin-bottom: 1em;
  padding-top: 0.5em;
}
.picker {
  width: 50%;
  padding-top: 1em;
  clear: both;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.picker input {
  width: 75%;
  background-color: #eeeeee;
  border: none;
  font-size: 1em;
}
.timePicker {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}
.timePicker i {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
}
.datePicker {
  padding: 1em;
  background-color: #fff;
  border-radius: 1em;
  position: absolute;
  z-index: 100;
  top: 100%;
}
.datePicker table caption {
  color: #e57e1f;
  border-bottom: 1px solid #e57e1f;
  margin-bottom: 0.5em;
}
.datePicker th {
  color: #ccc;
  padding: 0.3em;
}
.datePicker .selectable {
  color: #000;
}
