* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
*:focus {
  outline: none;
}
li {
  list-style: none;
  text-decoration: none;
}
ul {
  padding: 0;
}
/* hay que modificarlo
body, html, main {
	height: 100%;
}*/
body {
  background: #eeeeee;
}
header {
  background: rgba(255, 255, 255, 0.8);
  /*position: fixed;*/
  width: 100%;
  z-index: 100;
}
header img {
  height: 4.5em;
}
header nav ul {
  display: none !important;
  position: absolute;
  width: 50%;
  margin: 0 -25%;
  top: 5em;
  background: #ffffff;
  border: 2px solid #e57e1f;
  z-index: 10000;
}
header nav ul li {
  color: #272727;
  padding: 1em;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  font-size: 1.2em;
  cursor: pointer;
}
header ul li img {
  width: 32px;
  height: 32px;
}
header nav ul li {
  display: none;
}
header nav ul li:hover,
header nav ul i:hover {
  color: #e57e1f;
  border-bottom: 4px solid #e57e1f;
}
header nav ul li:active,
header nav ul i:active {
  color: #e57e1f;
}
main {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
h3 {
  color: rgba(0, 0, 0, 0.5);
}
h1,
h2 {
  text-align: center;
}
footer {
  background: #272727;
  color: #ffffff;
  padding: 1em 0 1em 0;
  margin-top: 1em;
  text-align: center;
}
footer div {
  margin: 0 auto;
}
input {
  border: none;
  padding: 1em;
  font-size: 1em;
  border-radius: 1em;
  background: #eeeeee;
  box-sizing: border-box;
  width: 100%;
}
validacion {
  position: relative;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 1em;
}
validacion:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #ccc;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 10px;
  left: -20px;
}
canvas {
  width: 100%;
}
.row {
  align-items: center;
  display: flex;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-2 {
  width: 16.6666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.3333333%;
}
.col-xs-5 {
  width: 41.6666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-10 {
  width: 83.3333333%;
}
.col-xs-11 {
  width: 91.6666667%;
}
.col-xs-12 {
  width: 100%;
}
.dcolumnas-xs {
  flex-direction: column;
}
.dfilas-xs {
  flex-direction: row;
}
.jaround-xs {
  justify-content: space-around;
}
.jbetween-xs {
  justify-content: space-between;
}
.jcenter-xs {
  justify-content: center;
}
.filas-xs {
  flex-wrap: wrap;
}
.fstart-xs {
  align-items: flex-start;
}
.fend-xs {
  align-items: flex-end;
}
/*
	inicio.html
*/
.buscador-content {
  position: absolute;
  top: 1em;
  bottom: 0;
  right: 0;
  left: 0;
}
.buscador {
  margin: 0 auto;
  width: 70%;
  position: relative;
}
.buscador > div {
  background: #eeeeee;
  padding: 1em;
  box-shadow: 4px 4px 8px #888888;
}
.buscador > div .apartados {
  width: 100%;
}
.buscador label {
  margin: 1em 0;
}
.buscador select,
.buscador input {
  border: none;
  /*border-bottom: 1px solid @gris !important;
		border-left: 1px solid @gris !important;*/
  border-radius: 1em;
  background: #eeeeee;
  padding: 0.3em !important;
}
.buscador i {
  cursor: pointer;
}
/*Otra parte esta en elementos donde tarifas*/
.buscador button {
  margin: 0 auto !important;
  position: absolute;
  bottom: -3em;
  right: 0;
}
/*
	reservas.html
*/
.seguimiento {
  height: 3em;
  width: 6.5em;
  text-align: center;
  position: relative;
  color: #ffffff;
}
.seguimiento p {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 13%;
  right: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reservas #siguiente p {
  cursor: pointer;
}
#reservas #anterior p {
  cursor: pointer;
}
.arriba {
  /*background: @naranja;*/
  -ms-transform: skewX(40deg);
  /* IE 9 */
  -webkit-transform: skewX(40deg);
  /* Safari */
  transform: skewX(40deg);
  height: 50%;
  width: 100%;
}
.abajo {
  /*background: @naranja;*/
  -ms-transform: skewX(-40deg);
  /* IE 9 */
  -webkit-transform: skewX(-40deg);
  /* Safari */
  transform: skewX(-40deg);
  height: 50%;
  width: 100%;
}
.arriba2 {
  /*background: @naranja;*/
  -ms-transform: skewX(-40deg);
  /* IE 9 */
  -webkit-transform: skewX(-40deg);
  /* Safari */
  transform: skewX(-40deg);
  height: 50%;
  width: 100%;
}
.abajo2 {
  /*background: @naranja;*/
  -ms-transform: skewX(40deg);
  /* IE 9 */
  -webkit-transform: skewX(40deg);
  /* Safari */
  transform: skewX(40deg);
  height: 50%;
  width: 100%;
}
.menuPlaza {
  background: #e57e1f;
}
/*
	Font Colores
*/
.verde {
  color: green;
}
.rojo {
  color: red;
}
.gris {
  color: #272727;
}
/* Colores btn Reserva.html*/
.FormDefault {
  background: #272727;
}
.FormActive {
  background: #e57e1f;
}
.FormSuccess {
  background: #797c80;
}
/* 
	Slider
*/
.slider > img {
  /*width: 100%;*/
  height: 30em;
}
.btnForm {
  max-width: 100px;
  width: 0px;
  height: 50px;
  border-left: 25px solid transparent;
  background-color: transparent;
  position: relative;
  margin: 1em 3.3em 1em 1em;
  display: block;
}
.btnForm::after {
  content: "";
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: absolute;
  top: -25px;
  left: 82px;
}
.btnFormDefault {
  border-right: 82px solid #808080;
  border-bottom: 25px solid #807e80;
  border-top: 25px solid #808080;
}
.btnFormDefault::after {
  border-left: 35px solid #808080;
}
.btnFormActive {
  border-right: 82px solid #e57e1f;
  border-bottom: 25px solid #e57e1f;
  border-top: 25px solid #e57e1f;
}
.btnFormActive::after {
  border-left: 35px solid #e57e1f;
}
.btnFormSucces {
  border-right: 82px solid #000000;
  border-bottom: 25px solid #000000;
  border-top: 25px solid #000000;
}
.btnFormSucces::after {
  border-left: 35px solid #000000;
}
.btnFormSpan {
  position: absolute;
  top: -15px;
  height: 30px;
  width: 75px;
  color: white;
  font-size: 1.2em;
}
.btnFormSpanCenter {
  position: absolute;
  top: -8px;
  height: 30px;
  width: 75px;
  color: white;
  font-size: 1.2em;
}
.btnFormRigth {
  right: 10%;
  position: absolute;
  bottom: -17%;
}
.btnFormLeft {
  left: 10%;
  position: absolute;
  bottom: -17%;
}
#btnHeadNav {
  display: block;
  font-size: 3em;
  cursor: pointer;
}
#inicio {
  position: relative;
}
#inicio .info {
  margin-top: 1em;
}
#servicios h3,
#tarifas h3 {
  text-align: center;
}
#servicios,
#ubicacion,
#tarifas,
#reservas {
  margin-top: 1em;
}
#servicios article {
  margin-top: 2em;
  margin-bottom: 1em;
}
#servicios article div div {
  margin-top: 2em;
}
#ubicacion {
  position: absolute !important;
  height: 100%;
  width: 100%;
}
#ubicacionMap {
  height: 100%;
}
#ubicacionBtnNavegar {
  position: absolute;
  z-index: 500;
  bottom: 35px;
  left: 25px;
  border-radius: 50%;
  border: 2px solid #e57e1f;
  font-size: 3em;
  color: #e57e1f;
  background: rgba(255, 255, 255, 0.8);
}
#ubicacionBtnNavegar:hover {
  cursor: pointer;
}
#tarifas h2 ~ p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-align: center;
}
#tarifas section article {
  text-align: center;
  background: #ffffff;
  margin: 2em 0;
  padding: 1em;
  border: 4px solid #e57e1f;
  border-radius: 0.2em;
  box-shadow: -5px 5px 8px #333333;
  box-sizing: border-box;
  position: relative;
}
#tarifas section article:nth-child(2n+1) {
  -ms-transform: rotate(-2deg);
  /* IE 9 */
  -webkit-transform: rotate(-2deg);
  /* Safari */
  transform: rotate(-2deg);
}
#tarifas section article:nth-child(4) {
  -ms-transform: rotate(2deg);
  /* IE 9 */
  -webkit-transform: rotate(2deg);
  /* Safari */
  transform: rotate(2deg);
}
#tarifas section article .cero {
  -ms-transform: rotate(2deg);
  /* IE 9 */
  -webkit-transform: rotate(2deg);
  /* Safari */
  transform: rotate(2deg);
}
#tarifas section article .cero2 {
  -ms-transform: rotate(-2deg);
  /* IE 9 */
  -webkit-transform: rotate(-2deg);
  /* Safari */
  transform: rotate(-2deg);
}
#tarifas section article h3 {
  /*background: rgba(255,128,0,1);
			background: -moz-linear-gradient(top, rgba(255,128,0,1) 0%, rgba(255,163,72,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,128,0,1)), color-stop(100%, rgba(255,163,72,1)));
			background: -webkit-linear-gradient(top, rgba(255,128,0,1) 0%, rgba(255,163,72,1) 100%);
			background: -o-linear-gradient(top, rgba(255,128,0,1) 0%, rgba(255,163,72,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,128,0,1) 0%, rgba(255,163,72,1) 100%);
			background: linear-gradient(to bottom, rgba(255,128,0,1) 0%, rgba(255,163,72,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8000', endColorstr='#ffa348', GradientType=0 );
			color: @blanco;*/
  padding: 0.2em;
  margin: 0 0 2em 0;
  border-radius: 0.2em;
  /*box-shadow: 2px 2px 8px #888888;
			position: absolute;
		    top: -14px;
		    left: -15px;*/
}
#tarifas section article i {
  font-size: 7em;
  vertical-align: bottom;
  color: #e57e1f;
}
#tarifas section article button,
.buscador button {
  background: #e57e1f;
  color: #ffffff;
  padding: 0.6em 1em;
  margin: 2em 0;
  border-radius: 0.2em;
  border: 0;
  box-shadow: 2px 2px 8px #888888;
  cursor: pointer;
  /*position: absolute;
		    bottom: -25px;
		    right: -15px;*/
}
#tarifas section article button:hover,
.buscador button:hover {
  background: #505050;
}
#tarifas p {
  margin: 1em 0 1em 0;
}
.iconsServicios {
  font-size: 3em;
  color: #e57e1f;
}
.iconsServicios ~ p {
  font-size: 0.6em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
#reservas nav {
  width: 90%;
  /*margin: 1em auto;
	margin-top: 0;*/
}
#reservas > article {
  width: 100%;
  margin: 1em auto;
  border: 4px solid #e57e1f;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 1em;
  transform: skewx(3deg);
  background-color: white;
}
#reservas > article > object {
  position: relative;
  width: 100%;
}
#reservas .inputValidate {
  position: absolute;
  z-index: 100;
  top: -100%;
  left: 0;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1em;
  background-color: #ccc;
  color: red;
}
#reservas .iconsInput {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 10%;
  border-radius: 0 1em 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mapLoadUser {
  animation-name: loadRotate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  position: absolute;
  top: 50%;
  font-size: 5em;
  left: 50%;
}
@media (min-width: 48em) {
  header nav ul {
    position: relative;
    top: 0;
    width: 100%;
    margin: 0 ;
    background: none;
    border: none;
  }
  header nav ul li {
    display: inline-block !important;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: none;
  }
  header nav ul li:hover,
  header nav ul i:hover {
    border-top: 4px solid #e57e1f;
    border-bottom: none;
  }
  main {
    width: 100%;
  }
  #btnHeadNav {
    display: none !important;
  }
  /*
		inicio.html
	*/
  .buscador-content {
    top: 3em;
    right: 15em;
  }
  /*
	reservas.html
	*/
  #reservas > article {
    width: 90%;
    margin: 3em auto;
    border: 4px solid #e57e1f;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    transform: skewx(3deg);
    background-color: white;
  }
  .seguimiento {
    height: 3em;
    width: 7em;
    text-align: center;
    position: relative;
  }
  .arriba {
    /*background: @naranja;*/
    -ms-transform: skewX(40deg);
    /* IE 9 */
    -webkit-transform: skewX(40deg);
    /* Safari */
    transform: skewX(40deg);
    height: 50%;
    width: 100%;
  }
  .abajo {
    /*background: @naranja;*/
    -ms-transform: skewX(-40deg);
    /* IE 9 */
    -webkit-transform: skewX(-40deg);
    /* Safari */
    transform: skewX(-40deg);
    height: 50%;
    width: 100%;
  }
  .arriba2 {
    /*background: @naranja;*/
    -ms-transform: skewX(-40deg);
    /* IE 9 */
    -webkit-transform: skewX(-40deg);
    /* Safari */
    transform: skewX(-40deg);
    height: 50%;
    width: 100%;
  }
  .abajo2 {
    /*background: @naranja;*/
    -ms-transform: skewX(40deg);
    /* IE 9 */
    -webkit-transform: skewX(40deg);
    /* Safari */
    transform: skewX(40deg);
    height: 50%;
    width: 100%;
  }
  /*
	*****************************************************************
	************************* Clases comunes ************************
	*****************************************************************
	*/
  .col-sm-2 {
    width: 16.6666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333%;
  }
  .col-sm-5 {
    width: 41.6666667%;
  }
  .dfilas-sm {
    flex-direction: row;
  }
  .filas-sm {
    flex-wrap: wrap;
  }
}
@media (min-width: 75em) {
  /*
	reservas.html
	*/
  .seguimiento {
    height: 3em;
    width: 8em;
  }
  /*
	*****************************************************************
	************************* Clases comunes ************************
	*****************************************************************
	*/
  .col-lg-2 {
    width: 16.6666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333%;
  }
}
@keyframes loadRotate {
  from {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -webkit-transform: rotate(300deg);
    /* Chrome, Safari, Opera */
    transform: rotate(300deg);
  }
  to {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}
.datePicker th {
  color: #ccc;
}
.datePicker .selectable {
  color: #000;
}
