.btn {
	color: white;
	background-color: @naranja;
	padding: 0.5em 1em 0.8em 1em;
	border: none;
	-webkit-box-shadow: -2px -2px 0px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    -2px -2px 0px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         -2px -2px 0px 0px rgba(50, 50, 50, 0.25);
	font-size: 1em;
}